name: guiyang_tone_sandhi
channels:
  - conda-forge
  - defaults

dependencies:
  - python=3.10
  - numpy
  - pandas
  - matplotlib
  - seaborn
  - scipy
  - parselmouth    # Praat Python API
  - pip
  - pip:
      - praat-parselmouth
